@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    /* --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255; */

    --background-start: #a6c0fe;
    --background-end: #f68084;
}
/*
#f68084 - coral
#a6c0fe -dark mint
*/
@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-end: #24243e;
        --background-start: #452c63;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(var(--background-end), var(--background-start));
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
